/* Fig. 12.17: style.css */
/* CSS for coverviewer.html. */
body {background-color: lightblue;}
h1 {text-align: center;}
#thumbs   { width: 192px;
            height: 370px;
            padding: 5px;
            float: left; }
#mainimg  { width: 600px;
            padding: 5px;
            float: left; }
#imgCover { height: 600px;
            width: 600px; }
img       { border: 1px solid black; }
#title{
	width:100%;
	text-align:center;
	padding:20px 0px 20px 0px;	
}
#title span{
	font-size:30px;
	font-weight:bold;	
	color:red;
}
img {border-color: lightblue;}